<h1> Welcome to the Recipe App </h1>
<% @recipes.each do |c| %>
<a href="/recipes/#{c.id}">Name: <%= c.name %></a><br>
Ingredients: <%= c.ingredients %><br>
Cook Time: <%= c.cook_time %><br>
<% end %>
