<h1>Enter your new recipe here:</h1>

<form method="post" action="/recipes">
    Name: <input type="text" name="name">
    Ingredients: <input type="text" name="ingredients">
    Cooktime: <input type="text" name="cook_time">
    <input type="submit" name="submit">
</form>