<form action="/recipes" method="post">
<h1>Name: <input type="text" name="name" id="name" ></h1><br>
<h3>Ingredients <input type="text" name="ingredients" id="ingredients"></h3> <br>
<h3>Cook Time: <input type="text" name="cook_time" id="cook_time"></h3><br>
<input type="submit" value="Submit"> 
</form>